
html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  body {
  
    color: #111;
    margin: 0px;
    overflow: hidden;
    background: #fff !important;
  }
  
  canvas {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  canvas:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }
  
  #sensorlist{
    position: absolute;
    left: 0;
    top: 0;
    width:200px;
    background: #eee;
    border-right:1px solid #ccc;
    z-index: 999;
    height:100%;
    color:#111;
  }
  #sensors{
    list-style:none;
    margin:0;
    padding:0;
  }
  
  #sensors li{
    width: 100%;
    padding: 10px 5px 10px 10px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    font-weight: 700;
  }
  
  #sensors li i.ok{color:green}
  #sensors li i.warn{color:red}
  #sensors li:hover, #sensors li.active{
    background: #ddd;
    cursor:pointer;
  }
  .data-warning{
    color: #fff;
    font-weight: 700;
    background: #f24d39;
  }
  #sensors li.warn i{
    color: red
  }
  #sensors li.active i{
    color: yellow
  }
  #datadisplay{
    position: absolute;
    display: none;
    bottom:0;
    left:200px;
    padding:30px;
    border:1px solid #ccc;
    font-weight: 700;
    z-index: 9999;
    background: #eee;
  }
  
  td{
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
  }
  
  #closedisplay{
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #111;
    font-weight: 700;
    font-size: 18px;
    padding: 5px;
  }
  #closedisplay:hover{
    cursor: pointer;
    background: #ddd;
  }
  
  
  @media(max-width:1280px) {
  
    #sensorlist{
      top:auto;
      bottom:0;
      height:20%;
      width:100%;
      overflow-y: scroll;
    }
  
    #datadisplay{
      top: auto;
      bottom:20%;
      left: 0;
      width: 100%;
      padding:10px;
      color:#111;
  
    }
    #closedisplay{
      display: block
    }
    .room-info{
      margin:5px;
      font-size:2vh
    }
    .device-info{
      margin:5px;
      font-size:3vh
    }
  
  
  }
  